@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-secondary;
}

h1 {
	@apply text-4xl font-bold md:text-6xl;
}

h2 {
	@apply text-3xl font-bold md:text-5xl;
}

h3 {
	@apply text-2xl font-bold md:text-4xl;
}

h4 {
	@apply text-xl font-bold md:text-3xl;
}

h5 {
	@apply text-lg font-bold md:text-2xl;
}

h6 {
	@apply text-base font-bold md:text-xl;
}

td {
	@apply text-sm;
}

p {
	@apply text-base font-normal text-slate-100 lg:text-lg;
}

li {
	@apply text-base font-light text-white lg:text-lg;
}

button {
	@apply rounded bg-secondary px-4 py-2 text-primary shadow-md transition-all ease-in-out hover:opacity-80;
}

label {
	@apply text-lg text-gray-700;
}

@layer utilities {
	.link {
		@apply withTransition cursor-pointer opacity-90 hover:text-white hover:underline hover:opacity-100;
	}
	.withTransition {
		@apply transition-all duration-300 ease-in-out;
	}

	.medium-submenu {
		@apply absolute w-auto space-y-2 border bg-primary px-4 py-4;
	}

	.skills h3 {
		@apply py-3 text-secondary md:text-2xl;
	}

	.skills div {
		@apply flex flex-col justify-evenly space-y-3;
	}

	.skills div p {
		@apply md:text-sm;
	}
	.step {
		@apply flex w-full flex-col;
	}
	.step hr {
		@apply h-1 w-full border-gray-400;
	}
	.step p {
		@apply font-light text-gray-400;
	}
	.completed {
		@apply flex w-full cursor-pointer flex-col;
	}

	.completed hr {
		@apply h-1 w-full border-primary;
	}
	.completed p {
		@apply first-of-type:uppercase first-of-type:text-primary first-of-type:opacity-40 last-of-type:text-gray-800;
	}
	.logo {
		@apply bg-white shadow-lg shadow-black;
	}

	.about li {
		@apply text-base font-light;
	}
	.about i {
		@apply font-normal;
	}

	.booking nav p {
		@apply md:text-base;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham1 .top {
	stroke-dasharray: 40 139;
}
.ham1 .bottom {
	stroke-dasharray: 40 180;
}
.ham1.active .top {
	stroke-dashoffset: -98px;
}
.ham1.active .bottom {
	stroke-dashoffset: -138px;
}
