@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply font-sans;
}

h1 {
	@apply text-4xl font-bold md:text-6xl;
}

h2 {
	@apply text-3xl font-bold md:text-5xl;
}

h3 {
	@apply text-2xl font-bold md:text-4xl;
}

h4 {
	@apply text-xl font-bold md:text-3xl;
}

h5 {
	@apply text-lg font-bold md:text-2xl;
}

h6 {
	@apply text-base font-bold md:text-xl;
}

p {
	@apply text-base font-normal text-slate-100 md:text-lg;
}

a {
	@apply text-blue-500 transition-all duration-150 ease-in-out hover:text-blue-600 hover:underline;
}

li {
	@apply text-xl font-thin text-white;
}

.medium-submenu {
	@apply absolute w-auto space-y-2 border bg-primary px-4 py-4;
}

.skills h3 {
	@apply py-3 text-secondary md:text-2xl;
}

.skills div {
	@apply flex flex-col justify-evenly space-y-3;
}

.skills div p {
	@apply md:text-sm;
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham1 .top {
	stroke-dasharray: 40 139;
}
.ham1 .bottom {
	stroke-dasharray: 40 180;
}
.ham1.active .top {
	stroke-dashoffset: -98px;
}
.ham1.active .bottom {
	stroke-dashoffset: -138px;
}
